
    ##################
    # Unity ignores:
    #
    # !!! WARNING !!!
    #
    # … you MUST convert Unity to using Metafiles *before* you start using this
    # .gitignore file, or you WILL lose data!
    #
     
Library
Temp
*.csproj
*.sln
*.pidb
*.userprefs
*.unityproj
survival_game/Assets/Animater/player.controller.rej
survival_game/Assets/Animater/player.controller.rej.meta
survival_game/Assets/Animation.meta
survival_game/Assets/Prefab/Item.meta
